
section#admin{
    display: flex;
    justify-content: center;

}
#admin-tools{
    width: 100%;
    background-color: #F9F9F9;
    margin-top: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#admin-nav{
    margin: 3rem;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #4CAF50;
    gap: 1rem;
    gap: 18px;
}
#rest-info,
#client-info,
#offers-info{
    padding: 8px;
    transition: .8;
    cursor: pointer;
    margin-bottom: .5em;
}
.active{
    background-color: #4CAF50;
    transition: all 0.3s ease-in;
    
}
.disabled{
    opacity: 0.6;
}

#rest-info:active{
    background-color: #4CAF50;
}

.hide-info{
    display: None;
}
/* tables css */
.admin-section {
    margin: 5rem;
}

.search-filter {
    margin: 20px 1rem;
    width: 100%;
}
.search-filter input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.table-container {
    overflow-x: scroll;
}
.admin-table th {
    background-color: #f5f5f5;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    font-weight: 600;
}

.admin-table td {
    padding: 10px 12px;
    border-bottom: 1px solid #eee;
}
.admin-table tr:hover {
    background-color: #f9f9f9;
}

.admin-table tr:nth-child(even) {
    background-color: #f8f8f8;
}