section#admin{
    display: flex;
    justify-content: center;
}
#admin-tools{
    background-color: #F9F9F9;
    margin: 1rem;
    width: 70%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#admin-nav{
    margin: 3rem;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #4CAF50;
    gap: 1rem;
    gap: 18px;
    width: 50%;
}
#rest-info,
#client-info,
#offers-info{
    padding: 8px;
    transition: .8;
    cursor: pointer;
    margin-bottom: .5em;
}

.active{
    background-color: #4CAF50;
    transition: all 0.3s ease-in;
    
}
.disabled{
    opacity: 0.6;
}

#rest-info:active{
    background-color: #4CAF50;
}

/* Style do show rest info

Tabela responsiva

Alternar linhas zebra (cinza claro e branco)

Ícone 🏪 no título


*/
.hide-info{
    display: None;
}

/* tables css */