#client-area{
    margin: 4rem auto;
    background-color: #f4fff4;
    width: 70%;
    height: 40rem;
    padding: 2rem;
}
#content{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #4CAF50;
    gap: 1rem;
    padding: 5px;
}
.no-show{
    display: none;
}
h1{
    text-align: center;
}
#show-content{
    margin: 1rem;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}
#show-oferta{
    padding: 1rem;
    text-align: center;
}
#search-offer{
    padding: 8px;
    width: 50rem;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid #000;
    outline: 0;
}