#client-area{
    margin: 4rem auto;
    background-color: #f4fff4;
    width:100%;
    height: max-content;
    padding: 2rem;
    
}
#content{
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-bottom: 2px solid #4CAF50;
    gap: 1rem;
    padding: 5px;
}
.no-show{
    display: none;
}
h1{
    text-align: center;
}
#show-content{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #4CAF50;
    height:80%;
}
#show-oferta, #show-rest{
    padding: 1rem;
    text-align: center;
    width: 80%;
}
#oferta,
#rest,
#meals{
    padding: 8px;
    transition: .8;
    cursor: pointer;
    margin-bottom: .5em;
}

.active{
    background-color: #4CAF50;
    padding: 8px;
    transition: all 0.3s ease-in;
}
.content-items{
    cursor: pointer;
}
.disabled{
    opacity: .7;
}
/* CSS for dynamic generated stuff */
.offers-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    width: 100%;
    
}
.offer-card{
    box-shadow: 2px 2px 5px 1px #000;
    display: flex;
    border-radius: 12px;
    width: 25rem;
    flex-direction: column;
    margin: .5em;
}
.offer-image{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 20rem;
    margin-right: 5em;
    padding: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.offer-info{
    text-align: justify;
    padding: 2em;
    word-wrap: break-word;
    
}
.offer-info p{
    font-size: 1em;
    word-wrap: break-word;
}
.reserve-btn{
    width: 100%;
    padding: .4em;
    height: 2em;
    font-size: large;
    border: 0;
    margin-top: 1rem;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease-in;
}
.reserve-btn:hover{
    opacity: .9;
}