#client-area{
    margin: 4rem auto;
    background-color: #f4fff4;
    width: 70%;
    height: 40rem;
    padding: 2rem;
    
}
#content{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #4CAF50;
    gap: 1rem;
    padding: 5px;
}
.no-show{
    display: none;
}
h1{
    text-align: center;
}
#show-content{
    margin: 1rem;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}
#show-oferta{
    padding: 1rem;
    text-align: center;
    width: 60%;
}
#search-offer, #search-rest{
    padding: 8px;
    width: 100%;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid #000;
    outline: 0;
}
#search{
    padding: 8px;
    margin: 1rem;
    width: 30%;
    border-radius: 12px;
    border: 0;
    color: #ffffff;
    background-color: #4CAF50;
    font-weight: bold;
}