#client-area{
    margin: 4rem auto;
    background-color: #fff;
    width: 70%;
    height: 40rem;
    padding: 2rem;
}
#content{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #4CAF50;
    gap: 1rem;
    padding: 5px;
}
.no-show{
    display: none;
}
#show-content{
    display: flex;
    border: 1px solid red;
}
#show-oferta{
    margin: auto;
}