#client-area{
    margin: 4rem auto;
    background-color: #f4fff4;
    width: 70%;
    height: max-content;
    padding: 2rem;
    
}
#content{
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-bottom: 2px solid #4CAF50;
    gap: 1rem;
    padding: 5px;
}
.no-show{
    display: none;
}
h1{
    text-align: center;
}
#show-content{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #4CAF50;
    height:80%;
}
#show-oferta, #show-rest{
    padding: 1rem;
    text-align: center;
    width: 60%;
}
#oferta,
#rest,
#meals{
    padding: 8px;
    transition: .8;
    cursor: pointer;
    margin-bottom: .5em;
}

.active{
    background-color: #4CAF50;
    padding: 8px;
    transition: all 0.3s ease-in;
}
.content-items{
    cursor: pointer;
}
.disabled{
    opacity: .7;
}
.offer-card{
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 1px solid #000;
    margin: .5em;
}
.offer-image{
    width: 100%;
    margin-right: 5em;
    padding: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.offer-info{
    text-align: justify;
    padding: 2em;
    border-left: 1px solid #000;
    word-wrap: break-word;
    
}