#client-area{
    margin: 4rem auto;
    background-color: #f4fff4;
    width: 70%;
    height: max-content;
    padding: 2rem;
    
}
#content{
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-bottom: 2px solid #4CAF50;
    gap: 1rem;
    padding: 5px;
}
.no-show{
    display: none;
}
h1{
    text-align: center;
}
#show-content{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #4CAF50;
    height:80%;
}
#show-oferta, #show-rest{
    padding: 1rem;
    text-align: center;
    width: 60%;
}
#search-offer, #search-rest{
    padding: 8px;
    width: 100%;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid #000;
    outline: 0;
}
#search{
    padding: 10px;
    margin: 1rem;
    width: 30%;
    border-radius: 12px;
    border: 0;
    color: #ffffff;
    background-color: #4CAF50;
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
}

#search:hover{
    opacity: .9;
}

.active{
    background-color: #4CAF50;
    padding: 8px;
    transition: .7s ease-in-out;
}
.content-items{
    cursor: pointer;
}