*{
    margin: 0;
    box-sizing: border-box;
}
/* Navbar styles */
header{
    background-color: #4CAF50;
    color: #fff;
}
nav{
    border: 1px solid red;
    margin-right: 12px;
    margin-left: 12px;
    display: flex;
}
#logo{
    background-image: url('../media/logonobg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 6rem;
    width: 6rem;
}