@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Poppins';
}
/* Navbar styles */
header{
    background-color: #4CAF50;
    width: 100%;
    color: #fff;
}
nav{
    margin-right: 12px;
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
    justify-items: baseline;
    align-items: center;
}
#logo{
    background-image: url('../media/logonobg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 6rem;
    width: 6rem;
    cursor: pointer;
}
ul{
    display: flex;
    margin: 12px;
}
#navigation > li{
    padding: 12px;
    list-style: none;
    font-size: 1.4em;
    cursor: pointer;
    transition: .5s;
}
#navigation > li:hover{
    opacity: .7;
}

/* Main part style */
#landing{
    height: 1015px;
}

#landing-img{
    height: 100vh;
 
    background-image: url('../media/main.png');
    filter: brightness(0.3);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
#introduction{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #F5F6FA;
    bottom: 50rem;
    padding: 16px;
    text-align: center;
    word-wrap: break-word;
}
#introduction > h1{
    font-size: 5rem;
}
#introduction > h3{
    font-size: 2rem;
}
#introplus > p{
    font-size: 1rem;
}
#start-now{
    width: 9rem;
    outline: 0;
    border: 0;
    margin-top: 15px;
    border-radius: 12px;
    padding: 10px;
    font-weight: bold;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
#start-now:hover{
    border: 1px solid #4CAF50;
    background-color: transparent;
}
#introduction #logo{
    width: 13rem;
    height: 12rem;
    
}

/* Restaurant section */
#restaurants{
    margin: 16px;
    background-color: #F5F6FA;
    border-radius: 12px;

}