@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    font-family: 'Poppins';
}
/* Navbar styles */
header{
    background-color: #4CAF50;
    width: 100%;
    color: #fff;
}
nav{
    border: 1px solid red;
    margin-right: 12px;
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
    justify-items: baseline;
    align-items: center;
}
#logo{
    background-image: url('../media/logonobg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 6rem;
    width: 6rem;
}
ul{
    display: flex;
    margin: 12px;
}
#navigation > li{
    padding: 12px;
    list-style: none;
    font-size: 1.4em;
}