@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #E6F4E8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Poppins';
}
/* Navbar styles */
header{
    background-color: #4CAF50;
    width: 100%;
    color: #2F3640;
}
nav{
    margin-right: 12px;
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
    justify-items: baseline;
    align-items: center;
}
#logo, #logo-nav{
    background-image: url('../media/logonobg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 6rem;
    width: 6rem;
    cursor: pointer;
}
ul{
    display: flex;
    margin: 12px;
}
#navigation > li{
    padding: 12px;
    list-style: none;
    font-size: 1.4em;
    cursor: pointer;
    transition: .5s;
}
#navigation > li:hover{
    opacity: .7;
}

/* Main part style */
#landing{
    height: 1015px;
}

#landing-img{
    height: 100vh;
 
    background-image: url('../media/main.png');
    filter: brightness(0.3);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}
#introduction{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #F5F6FA;
    bottom: 50rem;
    padding: 16px;
    text-align: center;
    word-wrap: break-word;
}
#introduction > h1{
    font-size: 5rem;
}
#introduction > h3{
    font-size: 2rem;
}
#introplus > p{
    font-size: 1rem;
}
#start-now{
    margin: 12px auto;
    width: 9rem;
    height: 3rem;
    outline: 0;
    border: 0;
    margin-top: 15px;
    border-radius: 12px;
    padding: 10px;
    font-weight: bold;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
#start-now:hover{
    opacity: .7;
}
#introduction #logo{
    width: 13rem;
    height: 12rem;
    
}

/* Restaurant section */
.sec{
    margin: 16px;
    display: flex;
    flex-direction: column;
    background-color: #F5F6FA;
    border-radius: 12px;
    text-align: center;

}
.cards{
    color: #2F3640;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 16px;
    gap: 6rem;
    padding: 5px;
}
.info-card{
    width: 20rem;
    height: 15rem;
    background-color: #6AD36C;
    border-radius: 12px;
}
.info-card > p{
    padding: 6px;
}
.icon{
    width:7rem;
}

/* Style for client section */
#clients{
    background-color: #FFF8E6;
}


/* Footer section */
footer{
    background-color: #4CAF50;
    height: 200px;
    color: #2F3640;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
}
@media (max-width: 600px) {
    #logo-nav{
        display: none;
    }
    #logo{
        margin-top: 10rem;
        width: 1rem;
        height: 1rem;
    }
    #introduction h1{
        font-size: 2rem;
    }
    #introduction h3{
        font-size: 1rem;
    }
    #navigation > li{
        font-size: 1rem;
    }
    #navigation{
        margin: auto;
        padding: 0;
    }
    
    nav{
        margin: 0;
    }
    /* Restaurant section */
    section#offers{
        width: 100%;
    }
    secttion#offers form#ofertas{
        width: 100%;
    }
    section#offers input{
        width: 100%;
    }
    section#offers textarea{
        width: 100%;
    }
    /* Clientes */
    section#client-area{
        margin: 0;
        padding: 0;
    }
    section#client-area #show-content{
        padding: 0;
        margin: 0;
    }
    section#client-area #show-oferta, #show-rest{
        width: 100%;
    }
    /* Admin */
    section#admin{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    section#admin #admin-tools{
        width: 100%;
    }
    section#admin #admin-nav{
        font-size: 1rem;
        display: flex;
        width: 100%;
    }
    section#admin #admin-info {
        text-align: center;
    }
    
}