*{
    margin: 0;
    box-sizing: border-box;
}
/* Navbar styles */
header{
    background-color: #4CAF50;
    color: #fff;
}
nav{
    border: 1px solid red;
    margin-right: 12px;
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
    justify-items: baseline;
    align-items: center;
}
#logo{
    background-image: url('../media/logonobg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 6rem;
    width: 6rem;
}
ul{
    display: flex;
    margin: 12px;
}
#navigation > li{
    padding: 12px;
    list-style: none;
}