#offers{
    background-color: #fff;
    box-shadow: 1px 1px 1px #E1E1E1;
    width: 70%;
    margin: 5rem;
    padding: 5rem;
    border-radius: 12px;
    margin: 4rem auto;
}
section{
    display: flex;
    flex-direction: column;
}
#offer-apoio{
    text-align: center;
    padding: 16px;
}
#ofertas
{
    display: flex;
    flex-direction: column;
}
label{
    margin-top: 1rem;
    display: block;
}
input, textarea{
    outline: 0;
}
#meal_name{
    width: 50%;
    padding: 12px;
    border: 0;
    background-color: #f0ecec;
    border-radius: 8px;
    color: #000000;
}