#offers{
    background-color: #fff;
    box-shadow: 1px 1px 1px #E1E1E1;
    width: 70%;
    padding: 2rem;
    border-radius: 12px;
    margin: 4rem auto;
}
#offer-apoio{
    text-align: center;
    padding: 16px;
}
.criar-ofertas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
label{
    margin-top: 1rem;
    display: block;
}
input, textarea{
    outline: 0;
    width: 60%;
}
#meal_name{
    
    padding: 12px;
    border: 0;
    background-color: #f0ecec;
    border-radius: 8px;
    color: #000000;
}
#ofertas-disponiveis{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.oferta-card{
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 12px;
    width: 25rem;
}
.oferta-card-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 20rem;
}
.oferta-card-info{
    padding: 12px;
}