#offers{
    background-color: #fff;
    box-shadow: 1px 1px 1px #E1E1E1;
    width: 70%;
    padding: 2rem;
    border-radius: 12px;
    margin: 4rem auto;
}
section{
    display: flex;
    flex-direction: column;
}
#offer-apoio{
    text-align: center;
    padding: 16px;
}
#ofertas
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label{
    margin-top: 1rem;
    display: block;
}
input, textarea{
    outline: 0;
    width: 60%;
}
#meal_name{
    
    padding: 12px;
    border: 0;
    background-color: #f0ecec;
    border-radius: 8px;
    color: #000000;
}

.oferta-card{
    padding: 12px;
    margin: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 12px;
    width: fit-content;
}
.oferta-card-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 10rem;
    padding: 0;
}
.oferta-card-info{
    padding: 12px;
    border-left: 1px solid #000000;
}