#offers{
    background-color: #fff;
    box-shadow: 1px 1px 1px #E1E1E1;
    width: 70%;
    margin: 5rem;
    padding: 5rem;
    border-radius: 12px;
    margin: 4rem auto;
}
section{
    display: flex;
    flex-direction: column;
}
#offer-apoio{
    margin: auto;
    padding: 16px;
}
#ofertas
{
    display: flex;
    flex-direction: column;
}
label{
    display: block;
}