#offers{
    height: 100vh;
    border: 2px solid #E1E1E1;
    margin: 5rem;
    padding: 5rem;
    border-radius: 12px;
}
#ofertas
{
    display: flex;
    flex-direction: column;
}
label{
    display: block;
}